{% extends 'corporate_food/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1 class="text-center mt-4 mb-5">Ваши заказы</h1>
        {% for order, items in orders.items %}
            <div class="card mb-3">
                <div class="text-center card-header">Заказ {{ order }}</div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Наименование</th>
                                <th>Цена</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                                <tr>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.price }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}