{% extends 'corporate_food/base.html' %}
{% load static %}{% load mathfilters %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Отчет о продуктах</h1>
        <hr>

        <table class="table">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Итого</th>
                </tr>
            </thead>
            <tbody>
                {% for items in report %}
                    <tr>
                        <td>{{ items.name }}</td>
                        <td>{{ items.price }}</td>
                        <td>{{ items.count }}</td>
                        <td>{{ items.count|mul:items.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br><br>
        <div class="text-center">
            <strong>Общая сумма: {{ total }}</strong>
        </div>
    </div>
{% endblock %}
